<div class="container">
  <div class="row justify-content-center">
    <div class='col-sm-8 col-sm-offset-2'>
      <% flash.each do |_, msg| %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <article>
        <h1>
          <%= @article.title %>
          <small>
            <%= link_to raw('<i class="fa-solid fa-pen fa-xs"></i>'), edit_article_path(@article) %>
            <%= link_to raw('<i class="fa-solid fa-trash fa-xs"></i>'), article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </small>
        </h1>
        <hr>
        <%= @article.content %>
      </article>
    </div>
  </div>
</div>
